    @{
    Layout = null;
}


<style>
    .rad-div {
        margin-top: 70px;
        font-weight: bold;
        font-size: 20px;
    }

    .row button {
        background-color: #808080;
    }

    #Multiple span {
        margin-left: 20px;
    }
</style>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<div class="row">

    <div class="container" id="mainContainer" style="min-height:500px; border:1px inset black; margin-top:50px; border-radius:50px 50px 50px 50px;">

        <input type="hidden" value="" id="typeofquestion" />

        <div class="row" style="background-color:#808080; min-height:100px; padding:10px;">

            <h3 style="color:white">
                <span id="count"></span>
                <span id="qtext"> What is web Api?</span>
            </h3>

        </div>

        <div id="Multiple" style="display:none; ">

            <div class="rad-div"><input class="rad" id="c1" type="checkbox" name="moption" value="A" /><span id="ct1"> Model View Controller </span> </div>
            <div class="rad-div"><input class="rad" id="c2" type="checkbox" name="moption" value="B" /><span id="ct2"> Model View Controller </span> </div>
            <div class="rad-div"><input class="rad" id="c3" type="checkbox" name="moption" value="C" /><span id="ct3"> Model View Controller </span> </div>
            <div class="rad-div"><input class="rad" id="c4" type="checkbox" name="moption" value="D" /><span id="ct4"> Model View Controller </span> </div>



        </div>

        <div id="Single">

            <div class="rad-div"><input class="rad" id="r1" type="radio" name="option" value="A" /><span id="rt1"> Model View Controller </span></div>
            <div class="rad-div"><input class="rad" id="r2" type="radio" name="option" value="B" /> <span id="rt2"> Model View Controller </span></div>
            <div class="rad-div"><input class="rad" id="r3" type="radio" name="option" value="C" /> <span id="rt3"> Model View Controller </span></div>
            <div class="rad-div"><input class="rad" id="r4" type="radio" name="option" value="D" /> <span id="rt4"> Model View Controller </span></div>


        </div>

        <div class="row" style="padding:30px;">
            <button onclick="goBack()" style="display:none" id="btnback" class="btn btn-lg btn-success">
                <span class="glyphicon glyphicon-chevron-left"></span>   Back!
            </button>




            <button onclick="SubmitAnswer()" style="float:right; margin-right:50px; " class="btn btn-lg btn-success">
                Next <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

        </div>


    </div>

</div>






<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    var Questions = [];
    var answers = [];

    var count = 0;
    var score = 0;
    var CurrentQuestionId = 0;

    shuffle = (a) => {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {

            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;   
    }



    SubmitToTheServer = () => {
        $.ajax({
            url: "/api/Question/Post",
            type: "POST",
            data: answers,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                alert("Your Score is " + data);


            },
            error: function (xhr, errorType, exception) {
                console.log("error");
            }
        });


    }


    GetAllQuestions = () => {
        $.ajax({
            url: "/api/Question/Get",
            type: "GET",
            data: {id:1},
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data);
                shuffle(data);
                Questions = data;
                displayQuestion();

            },
            error: function (xhr, errorType, exception) {
                console.log("error");
            }
        });
    }


    displayQuestion = () => {
        $("#mainContainer").fadeOut();


        if (count < Questions.length) {

            if (count > 0) {
                $("#btnback").show();
            }
            else {
                $("#btnback").hide()
            }


            var obj = Questions[count];
            CurrentQuestionId = obj.id;

            $("#count").html((count + 1) + " -");

            $("#qtext").html(obj.text);

            if (obj.type == 1) {
                $("#Multiple").hide();
                $("#Single").show();

                $("#r1").val(obj.option1)
                $("#r2").val(obj.option2)
                $("#r3").val(obj.option3)
                $("#r4").val(obj.option4)

                $("#rt1").html(obj.option1);
                $("#rt2").html(obj.option2);
                $("#rt3").html(obj.option3);
                $("#rt4").html(obj.option4);


                $("#typeofquestion").val(1);
            }
            else {
                $("#Multiple").show();
                $("#Single").hide();

                $("#c1").val(obj.option1)
                $("#c2").val(obj.option2)
                $("#c3").val(obj.option3)
                $("#c4").val(obj.option4)

                $("#ct1").html(obj.option1);
                $("#ct2").html(obj.option2);
                $("#ct3").html(obj.option3);
                $("#ct4").html(obj.option4);

                $("#typeofquestion").val(0);

            }

            $("#mainContainer").fadeIn(1000);


            count++;
        }

        else {

            answers = JSON.stringify(answers);
            SubmitToTheServer();
        }

    }



    GetAllQuestions();


    SubmitAnswer = () => {

        var QUESTIONType = $("#typeofquestion").val();

        if (QUESTIONType == 1) {
            var radioValue = $("input[name = 'option']:checked").val();
            if (radioValue) {

                answers.push({ id: CurrentQuestionId, answer: radioValue });

                console.log(CurrentQuestionId);
                console.log(radioValue);

            }
            else {
                alert("SELECT OPTION...");
            }


        }
        else {
            var checked = '';
            $.each($("input[name='moption']:checked"), function () {

                checked += $(this).val() + ",";

            });
            if (checked == '') {
                alert("SELECT OPTION...");

            }
            else {
                checked = checked.substring(0, checked.length - 1);
                answers.push({ id: CurrentQuestionId, answer: checked });

            }





        }

        displayQuestion();
        $(".rad").prop("checked", false);


    }

    goBack = () => {
        count = count - 2;
        console.log(count);
        answers.pop();
        displayQuestion();
    }



</script>